/* CSS Document */
body {
	margin-left: 0px;
	margin-top: 0px;
}
/* 上部声明 */
#header { width:120%; background-image:url(images/HeaderGradientImage.png); background-repeat:repeat-x; height:77px;
}

/* 左侧导航声明 */
#menu { margin-left:10px; margin-top:10px}

#l_head{width:180px}
#l_middle{width:180px; background-image:url(images/l_back.png); background-repeat:repeat-y; padding-left:20px; padding-top:5px; padding-bottom:10px; font-size:20px; font-family:"黑体"; color:#FF0000}
#l_middle1{width:180px; background-image:url(images/l_back.png); background-repeat:repeat-y;}
#l_middle1 ul { list-style:none; margin:10px; margin-top:20px }
#l_middle1 ul li{ margin-top:5px; width:80%; font-size:12px;  }
#l_middle1 ul li a{ text-decoration:none; width:160px;padding:10px; padding-top:5px; padding-bottom:5px}
#l_middle1 ul li a:hover{ text-decoration:none; color:#FFFFFF; background-image:url(images/ahover.gif); background-repeat:no-repeat}
#l_gndh{width:180px}
#ledn{width:180px}

/* 右侧内容声明  */
#r_DIV{ width:800px; padding:15px;margin-top:10px; border:1px; border-color:#00CCFF; border-style:dashed; background-image:url(images/rbg3.png);}
h2{ color:#000000; font-style:oblique}
.title1{
	width:100%;
	margin:2px;
	padding:3px;
	font-size:14px;
	/*background-color:#f0f0f0;
	
	/*border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #999999;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #999999;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;*/
	font-weight: bold;
	margin-top:20px;
	color: #0000CC;
}
.title2{
	width:100%;
	margin:2px;
	padding:3px;
	background-color:#f0f0f0;
	font-size:14px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #999999;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #999999;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	font-weight: bold;
	margin-top:20px;
	color: #ff0000;
}
#r_DIV ul { margin:10px; margin-left:25px;list-style:none}
#r_DIV ul li{ font-size:12px;}

/* 页脚版权信息 */
#coypright { width:100%; margin-top:80px; font-size:12px;}


/* 外部样式声明 */
#layout { margin:60px auto; width:600px; font-size:16px; color:#0000CC}
#layout .ttt{ height:16px; width:120px}
#layout a{ font-size:12px; font-weight:bold; color:#FF0000; text-decoration:none;}
#out_head{ width:600px; height:300px}
#out_middle{ width:600px; background-image:url(images/out_middle.png); background-repeat:repeat-y}
#out_end{ width:600px; height:20px}
h3 { right:0px;font-size:16px; color:#0000FF; padding-top:8px; 
}
